/* Main carousel style */
.carousel {
    width: 600px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
	
  

}
.carousel-caption {
	margin:auto;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.46);
background: -moz-linear-gradient(left, rgba(0,0,0,0.46) 0%, rgba(19,19,19,0.46) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.46)), color-stop(100%, rgba(19,19,19,0.46)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.46) 0%, rgba(19,19,19,0.46) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0.46) 0%, rgba(19,19,19,0.46) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.46) 0%, rgba(19,19,19,0.46) 100%);
background: linear-gradient(to right, rgba(0,0,0,0.46) 0%, rgba(19,19,19,0.46) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=1 );
 margin-left:1px;

    
   
  
}


