
@media all and (max-width: 600px){
	div{
		width:100%;
		height:auto;
		margin-left:10px;
	}
}

<style type="text/css" media="screen">

{}
img, object, video, flexbox{max-width:100%;}

</style>

//*a.menu {
	display:inline-float;
	padding:0px 12px;
	margin:0px 8px;
}
@media all and (max-width: 840px) {
	a.menu{
		margin:0px;
		padding:0px;
		padding-left:5%;
		display:block;
		float:none;
		text-align:left;
	}
}



*{margin:  0px;
padding: 0px;

font-family:arial, helvetica, sans-serif;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;

}




  
  body {
	  
	  background-image:url("fondoconglifo1500X900.jpg");
	  
	  background-repeat : no-repeat; 
background-position : center; 
background-attachment : fixed; 
	  
	  }





 
.menu_bar {
	display:none;
}
 
header {
	width: 100%;
}
 
header nav {
	
	background: -webkit-linear-gradient(#ffffcc, #6E711E);
	background: -moz-linear-gradient(#ffffcc, #6E711E);
	background: -o-linear-gradient(#ffffcc, #6E711E);
	background: linear-gradient(#ffffcc, #6E711E);
	
	z-index:1000;
	max-width: 1000px;
	max-height:200px;
	width:100%;
	margin:10px;
	text-align:left;
	background-image: url("bandacafe.jpg" );
	height:70px;


	
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
	-webkit-border-radius:0px 15px 0px 15px;
	-webkit-box-shadow: 8px 8px 10px #909090;
     background-color:#CCC787;
	
}
 
header nav ul li:hover {
    /*background:#BCB81E;*///*
	
}

header nav ul li :hover {
	COLOR:#78d500;
	
	
}
 
header nav ul li a {
	color:#ffffff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
 
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	/*background:#6E711E;*/
	//*position: absolute;
	width: 130%;
	z-index:1000;
	
}


header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
	
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}


 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
		
	}
 
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
		
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
		
	}
 
	header nav {
		width: 80%;
		height: calc(90% - 150px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
		
	}
 
	header nav ul li {
		display: block;
		border-bottom:2px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .children {
		display: block;
	}
	
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:30px;
	}
	header nav ul li .caret {
		float: right;
	}
	

}*/




p[name="parrafo"]{
color: orange;
margin:  0px;
padding: 0px;
text-align: center;
font-family:arial, helvetica, sans-serif;
}






.flexbox{
background-color: #FFF;

margin:auto;
display: box;
padding:1px;
display: -webkit-box;
width:auto;
height: auto;
box-flex: 1;
-webkit-box-align:center;


		-webkit-box-orient:horizontal;
			-webkit-border-radius:10px 30px 15px 30px;
		-webkit-box-shadow: 0px 0px 0px #909090;
	
		display: box;
	-webkit-box-orient:horizontal;
	
	
    display: -webkit-box;
	-webkit-box-orient:horizontal;
	
	display: -moz-box;
	-moz-box-orient:horizontal;



	
	
		

		
	
		
		
	
}

.flexbox > div {
width:auto;
height: auto;
 box-flex: 1;
-moz-box-flex: 1;
-webkit-box-flex: 1;

/*este cambia el cuadro rogo de conocenos las curvas de 
las esquinas ok peter*/
-webkit-border-radius:10px 30px 10px 30px;

}

/*.

*/


div#fiesta1{

padding: 20px;
margin: 10px;
background-color:#5E610B;
color:#fff;
-webkit-box-flex: 1;
 box-flex:1;
-moz-box-flex: 1;
text-shadow: 1px 1px 1px #000000;

-webkit-border-radius:10px 30px 10px 30px;


}

div#fiesta2{
padding: 20px;
margin: 10px;
background-color:#4B610B;
color:#fff;
-webkit-box-flex: 1;
 box-flex: 1;
-moz-box-flex: 1;
text-shadow: 1px 1px 1px #000000;

}


div#acercate{
padding: 20px;
margin: 10px;
background-color:#38610B;
color:#fff;
-webkit-box-flex: 1;
 box-flex: 1;
-moz-box-flex: 1;

text-shadow: 1px 1px 1px #000000;

}


/* titulo de la primera pagina */
p[title="titulo"]{
width:auto;
height: auto;
color:#ffffff;
-webkit-box-flex: 1;
 box-flex: 1;
-moz-box-flex: 1;
	
	background: -webkit-linear-gradient(#ffffcc, #5E610B );
background: -moz-linear-gradient(#ffffcc, #5E610B);
background: -o-linear-gradient(#ffffcc, #5E610B);
background: linear-gradient(#ffffcc, #5E610B);

text-shadow: 3px 3px 15px #000000;

font: bold 40px time new roman;


}


/* este es el titulo de cosas interesantes  */
p[ title="atracciones"]{
color: #990000;
font-family:Times New Roman;
text-shadow: 3px 3px 15px #000000;
font: bold 25px time new roman;


border: 1px solid black;

display: -webkit-box;
		
	
background-color:#fff;

-webkit-box-flex: 0;
 box-flex: 0;
-moz-box-flex: 0;


-webkit-border-radius:10px 30px 10px 30px;

-webkit-box-shadow: 8px 8px 10px #909090;
border: 1px solid black;


}
/* este es el titulo de enlaces */
p[ title="enlaces"]{
color:#ffff;
	
	background: -webkit-linear-gradient(#ffffcc, #5E610B );
background: -moz-linear-gradient(#ffffcc, #5E610B);
background: -o-linear-gradient(#ffffcc, #5E610B);
background: linear-gradient(#ffffcc, #5E610B);
font-family:Times New Roman;
text-shadow: 3px 3px 15px #000000;
font: bold 25px time new roman;

}

/*parrafos de la pagina de historia*/
p[name="parrafo"]*{color: orange;}
p[name="segundo"]{color: #cc00cc;}
p[title= "tercero"]{color: blue;}
p[name="cuarto"]{color: green;}
p[title="sexto"]{color: #000066;}
p[name="titulo"]{color: #000066;}
p[name="septimo"]{color: #cc00cc;}


.flexbox2{
	width:auto;
height: auto;
background-color: #fff;
border: 1px solid black;

display: -webkit-box;
width:300px;


		-webkit-box-orient:vertical;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		-webkit-border-radius:0px 0px 0px 0px;
		-webkit-box-shadow: 8px 8px 10px #909090;
		

		
		-box-pack:center;
		display: box;
		box-orient: vertical;
		width: 300px;
		box-shadow: 8px 8px 10px #909090;
		box-shadow:center;
				
		
	
		
		display: -moz-box;
		-moz-box-orient: vertical;
		width: 300px;
		-moz-box-pack:center;
		-moz-box-align:center;
		-moz-box-shadow: 8px 8px 10px #909090;
		
		
		
		display: -ms-box;
		-ms-box-orient: vertical;
		width: 300px;
		-ms-box-pack:center;
		-ms-box-align:center;
		-ms-box-shadow: 8px 8px 10px #909090;

}

/*aqui pongo la comparticion del section y el aside anvoltura pertenece al section 
articulo  y barra lateral al aside*/




div>envoltura{
width:auto;
height: auto;


}


object{max-width:100%;}

</style>




.barra_lateral{
	width:auto;
height: auto;
	
}




#envoltura{
vertical-align: top;
text-align:justify;

}



/*aqui pongo el ancho y grueso de mi articulo palabra otumba 800 ancho*/
article, .barra_lateral{
vertical-align: top;
display: inline-block;


}
article{

width: 790px;
TEXT-DECORATION: none ; 
TEXT-ALIGN:justify;


}
/*aqui mi section 1 defino el ancho 750   */


#misection1{
 padding: 30px;
  margin: 15px;
background-color: #AEB404;
color:white;
width:auto;
height: auto;
text-align : align=justify;
FONT-FAMILY: Arial; TEXT-DECORATION: none ; 
 box-shadow: 10px 10px 7px #000000;
 border-radius:20px 20px 20px 20px;
} 


article{
	whidth: 100%;
	vertical-align:top;
	
	TEXT-DECORATION: none ; 
TEXT-ALIGN:justify;
	}
.barra_lateral{
	width:auto;
height: auto;
	
}
	

	

div#menu2{
	width:0px;
	margin:0px;

		
	}
	
	
	
div#menu2 ul{
list-style:none;

		
		

}

div#menu2 ul li{



}


	ul, ol {
		list-style:none;
	       }

	div#menu2 li a {

	
		padding:18px 10px; 
		display:block; 
		left:60px;
margin-top: 0 px;

background: -webkit-linear-gradient(#ffffcc, #5F4C0B );
background: -moz-linear-gradient(#ffffcc, #5F4C0B);
background: -o-linear-gradient(#ffffcc, #5F4C0B);
background: linear-gradient(#ffffcc, #5F4C0B);
width:170px;
padding-top:10px;
padding-bottom:10px;
border-radius:30px 0px 30px 0px;
box-shadow: 0px 5px 7px #939393;
-webkit-transition:padding-right 0.6s;
color:white;
font-family:Times New Roman;
text-shadow: 1px 2px 5px #000000;
font: bold 16px time new roman;


	
	top:100%;
	left:60px;

	min-width:10px;
	
	
                   }
				   
				   
div#menu2{

padding-left: 90px;
		
	}
				   
div#menu2>li {
	float:left;
	
	   }
	
div#menu2 li a:hover {
	
	color:#ffff;
	
	background: -webkit-linear-gradient(#ffffcc, #5E610B );
background: -moz-linear-gradient(#ffffcc, #5E610B);
background: -o-linear-gradient(#ffffcc, #5E610B);
background: linear-gradient(#ffffcc, #5E610B);
	
	border-radius:30px 0px 30px 0px;
		text-decoration:#CCFF00;
		
		padding-left: auto;
		}


div#menu2 li ul {

		display:none;
		position:absolute;
		min-width:10px;
		top:50 px;
		
	    }
div#menu2 li:hover > ul {
	display:block;	
		
		   }

div#menu2 li ul li {
	position:relative;
		}
div#menu2 li ul li ul {
	right:0 px;
	top:50 px;

		}


/*segunda seccion aqui pongo la comparticion del section y el aside anvoltura pertenece al section 
articulo  y barra lateral al aside*/

.barra_lateral3{
	width:auto;
height: auto;
	
}
.barra_lateral3{
	width:200px 300px;
}
	


div#menu3{


		
	}
	
div#menu3 ul{
list-style:none;
}


div#menu3 ul li{

margin-top:30px 30px;
background: -webkit-linear-gradient(#ffffcc, #5E610B );
background: -moz-linear-gradient(#ffffcc, #5E610B);
background: -o-linear-gradient(#ffffcc, #5E610B);
background: linear-gradient(#ffffcc, #5E610B);
width:170px;
padding-top:10px;
padding-bottom:10px;
border-radius:0px 25px 0px 25px;
box-shadow: 0px 8px 10px #939393;
-webkit-transition:padding-right 0.6s;
color: #990000;
font-family:Times New Roman;
text-shadow: 3px 3px 15px #000000;
font: bold 15px time new roman;

}


div#menu3 ul li:hover{
		padding-right:50px;
		color:#ffff;
	
	background: -webkit-linear-gradient(#ffffcc, #5E610B );
background: -moz-linear-gradient(#ffffcc, #5E610B);
background: -o-linear-gradient(#ffffcc, #5E610B);
background: linear-gradient(#ffffcc, #5E610B);
	
	border-radius:30px 0px 30px 0px;
		text-decoration:#CCFF00;

}


#section2, .barra_lateral3{


vertical-align: top;
display: inline-block;

}


#parragohgroup4{


background-color: orange;
color:white;
width: 600px ;
padding-left:0px;
padding-top:0px
	
		

}
#parragohgroup3{


background-color: yellow;
color:black;
width: auto;
height:auto;


}

p[title="enlaces1"]{
background-color:#868A08;
color:#fff;
-webkit-box-flex: 1;
 box-flex: 1;
-moz-box-flex: 1;
text-shadow: 3px 3px 2px #000000;

-webkit-border-radius:10px 30px 10px 30px;


}



/* aqui pongo el segundo flex que dice la informacion casi ultima*/
.flexbox2{
	width:auto;
height: auto;
background: -webkit-linear-gradient(#ffffcc, #5E610B );
background: -moz-linear-gradient(#ffffcc, #5E610B);
background: -o-linear-gradient(#ffffcc, #5E610B);
background: linear-gradient(#ffffcc, #5E610B);

border: 0px solid black;
margin: auto;
height:auto;
display: -webkit-box;

		-webkit-box-orient:vertical;
		
	
		
		display: box;
	-webkit-box-orient:vertical;
	
    display: -webkit-box;
	-webkit-box-orient:vertical;
	
	display: -moz-box;
	-moz-box-orient:vertical;

		
		

}


.flexbox2 > div {
width:auto;
height: auto;
box-flex:1;
	

/*este cambia el cuadro rago de flexbox2 las curvas de 
las esquinas ok peter*/
-webkit-border-radius:10px 30px 10px 30px;
 
	
}

/*.
 box-flex: 1;
-moz-box-flex: 1;
-webkit-box-flex: 1;
*/


#télefonos{

height:auto;
width:auto;
padding:10px ;
	margin:10px;
background-color:#5F4C0B;
-webkit-box-flex: 1;
 box-flex: 1;
-moz-box-flex: 1;
-webkit-border-radius:10px 30px 10px 30px;
font: bold 28px Arial;


}
#ipomeximg ul li:hover{
		padding-right:auto;
		padding-left:auto; 
		
}


p[name="parrafotelefonos"]{


background-color:#688A08;
color:#fff;
text-shadow: 2px 2px 1px #000000;
font: bold 20px Arial;





width: auto;
height:auto;
TEXT-DECORATION: none ; 
TEXT-ALIGN:justify;
} 

}




}
body{
whidt:100%;
}



.flexbox4{
	
margin: auto;
height:auto;
background-color:gray;


display:box;
box-orient:horizontal;
text-shadow: 1px 1px 1px green;
-webkit-border-radius:10px 30px 10px 30px;	


	display: webkit-box;
	-webkit-box-orient:horizontal;
	
    display: -moz-box;
	-moz-box-orient:horizontal;

	
}


.flexbox4 > div {
width:auto;
height: auto;
box-flex:1;

-webkit-box-flex:1;

		-webkit-box-align:center;
		-webkit-border-radius:50px 20px 50px 20px;
		-webkit-box-shadow: 8px 8px 10px #909090;
}






#piedepagina{
	padding:10px ;
	margin:10px;
	background-color:#fff;
	
	

}





